@import "tailwindcss";

:root {
  --background: hsl(38, 35%, 94%);
}

@theme inline {
  --font-lora: var(--font-lora-var);
  --font-jetbrains: var(--font-jetbrains-var);
  --font-inter: var(--font-inter-var);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 96%);
}

/* React Flow overrides */
.react-flow__attribution {
  display: none;
}
